nav {
  float: left;
}
 
nav ul {
  list-style: none;
  overflow: hidden; 
}
 
nav ul li {
  float: right;
  font-family: Arial;
  font-size: 16px;
}
 
nav ul li a  {
  display: block;
  padding: 20px;
  color: #000000 ;
  text-decoration: none;
}

header {
  background: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 100;
}

nav ul li button {
	margin-right: 200PX;
}
nav ul li input {
	margin-left: 100PX;
}

#data
{
  color:white;
  height:25%;
  width:100%;
}

#data iframe {
  margin-top: 7%;
  height:500px;
  width: 75%;
}
#parteizquierda
{
  background-color:black;
  width:75%;
  height:200px;
  float:left;
  padding-bottom:200px;
}
#derecha
{
  margin-top: -40.1%;
  width:23%;
  height:712px;
  background-color:red;
  float:right;
}



